.image-grid {
    display: flex;
    margin-top: 5vw;
}

.column {
    width: 100%;
    height: auto;
    margin: .5vh;
    flex-direction: column;
}

.column img {
    width: 100%;
    border-radius: .5vh;
    object-fit: contain;
}
@media(max-width: 600px) {
    .image-grid {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .column {
        margin-top: 5vw;
    }
}
