.two-col-grid {
    text-align: center;
}
.two-col-grid a {
    margin-top: 1vh;
    padding: 0 !important;
    font-size: 2vh !important;
    justify-self: center !important;
}
.two-col-grid p {
    font-size: 2vh !important;
}
a:hover {
    transform: scale(1.1);
}

.two-col-grid>div:nth-child(odd) {
    padding-left: 3vw;
    justify-self: center;
}

.two-col-grid>div:nth-child(even) {
    padding-right: 3vw;
    justify-self: center;
    /* Right column items aligned to the right */
}

.fixed-bottom {
    position: fixed;
    bottom: 2vh;
    left: 0;
    right: 0; 
 }
 

.test {
    margin-top: 7vh;
}
 