* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    overflow: hidden;
}

.fixed-bottom {
   position: fixed;
    bottom: 51px;
    
}

.fixed-copyright {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
}


